<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.mubg.tournament">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="me.mubg.tournament.RssApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_mubg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_mubg_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="me.mubg.tournament.main.support"
                  android:theme="@style/CustomTheme"/>
        <activity
            android:name="me.mubg.tournament.main.more"
            android:theme="@style/CustomTheme" />
        <activity android:name="me.mubg.tournament.main.splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.mubg.tournament.main.htmlextractpage"
            android:theme="@style/CustomTheme" />
        <activity android:name="me.mubg.tournament.main.MainActivity" />
        <activity
            android:name="me.mubg.tournament.main.aboutus"
            android:theme="@style/CustomTheme" />
        <activity
            android:name="me.mubg.tournament.main.register"
            android:theme="@style/CustomTheme" />

        <service android:name="me.mubg.tournament.main.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="me.mubg.tournament.main.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/new_noti" />

    </application>

</manifest>